[Unit]
Description=Wallclock
After=multi-user.target

[Service]
ExecStart=python3 /home/pi/wallclock/wallclock.py
Type=idle
WorkingDirectory=/home/pi/wallclock
Restart=no

[Install]
WantedBy=default.target
