[Unit]
Description=Wallclock
After=network.target

[Service]
ExecStart=python3 /home/pi/wallclock/wallclock.py
Type=exec
WorkingDirectory=/home/pi/wallclock
Restart=no

[Install]
WantedBy=multi-user.target
